* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translate(50% 50%);
  align-items: center;
  justify-content: center;
}

.Card {
  width: 45%;
  height: 45%;
  padding: 20px 15px;
  border-radius: 30px;
  background-color: #ffffff;
  color: black;
}

.ContainerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.NextButton {
  border-radius: 10px;
  color: rgb(242, 241, 241);
  font-weight: bold;
}

.TwitterButton {
  border-radius: 10px;
  background-color: rgba(82, 82, 82, 0.09);
}

blockquote {
  margin-bottom: 30px;
  font-size: 22px;
}
