* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Card {
  width: 50%;
  height: 50%;
  padding: 30px 30px;
  border: solid 2px green;
  border-radius: 50px;
  background-color: #ffffff;
  color: black;
}

.ContainerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.NextButton {
  border-radius: solid 50px transparent;
  border-color: none;
  border-top-color: none;
  border-right-color: none;
  border-bottom-color: none;
  border-left-color: none;
}

p {
  margin-bottom: 10px;
}

blockquote {
  margin-bottom: 50px;
  font-size: 23px;
  quotes: "\201C""\201D""\00AB""\0027";
}

blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
